<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RetroCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B97CAE971BF54A2C00DB8F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B97CAEAB1BF54A2D00DB8F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B97CAEB61BF54A2D00DB8F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
